<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="HOME_DB" connectionString="Data source=bsbae.ddns.net,51433;User ID=sa;Password=wkehd124!@$;Initial Catalog=TESTDB;" providerName="System.Data.SqlClient" />
    <add name="AZURE_DB" connectionString="Data source=nakdong.database.windows.net;User ID=bsbae;Password=wkehd124!@$;Initial Catalog=NakDongDB;" providerName="System.Data.SqlClient" />
    <add name="BSBAE" connectionString="Data source=172.20.105.36,12345;User ID=sa;Password=wkehd123!@;Initial Catalog=TESTDB;" providerName="System.Data.SqlClient" />
    <add name="AWS_ORA_DB" connectionString="Data Source=(DESCRIPTION= (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=nakdongdb.cnl1oeb5hyzd.ap-northeast-2.rds.amazonaws.com)(PORT=1521))) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL )));User Id=admin;Password=asdfqwer134!#$;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="MYSQL_DB" connectionString="server=146.56.155.8;uid=bsbae;pwd=Asdfqwer1234!@#$;database=employees" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>
